@import '../../common/base.styl'
.wrapper
  height: 100%
  mg(20)
  .top
    background: #f0f
    br(10)
    pd(24)
    df()
    flexRow()
    flexBt()
    mb(20)
    h1
      color: $white
      
    p
      color: $white
      f(18)
  
  .content
    color: #333
    f(20)
    lh(28)
    pd(24)