@import '../common/base.styl'
.wrapper
  height: 100%
  mg(20)
  .top
    background: $black
    br(10)
    pd(24)
    df()
    flexRow()
    flexBt()
    mb(20)
    h1
      color: $white
    li
      di()
      flexRow()
      flexBt()
      mr(12)
      a
        color: $white
        f(18)
        text-decoration: none
      &:last-child
        mr(0)
  
  .content
    color: #333
    f(20)
    lh(28)
    pd(24)