$red = #f00
$black = #000
$white = #fff
br(n)
  border-radius: (n)px
pd(n)
  padding (n)px
mg(n)
  margin: (n)px
mt(n)
  margin-top: (n)px
mb(n)
  margin-bottom: (n)px
f(n)
  font-size: (n)px
df()
  display: flex
di()
  display: inline
flexRow()
  flex-direction row
flexBt()
  justify-content space-between
mr(n)
  margin-right (n)px
lh(n)
  line-height: (n)px