$vm_base = 1920
vw($px)
  ($px / $vm_base) * 100vw
$red = #f00
$black = #000
$white = #fff
br(n)
  border-radius: vw(n)
pd(n)
  padding vw(n)
mg(n)
  margin: vw(n)
mt(n)
  margin-top: vw(n)
mb(n)
  margin-bottom: vw(n)
f(n)
  font-size: vw(n)
df()
  display: flex
di()
  display: inline
flexRow()
  flex-direction row
flexBt()
  justify-content space-between
mr(n)
  margin-right vw(n)
lh(n)
  line-height: vw(n)