style.
  .notice {
    margin: 20vw auto;
    text-align:center;
    font-family: Roboto;
  }
  .text {
    font-size: 12vw;
    color: #6e60c2;
  }
  img, b {
    vertical-align: middle;
    font-size: 32vw;
    color: #6e60c2;
  }
  button {
    width: 20vw;
    height: 3.2vw;
    border: none;
    border-radius: 2vw;
    background: #6e60c2;
    color: white;
    font-size: 12vw;
    margin-top: 2vw;
    cursor: pointer;
    outline: none;
  }