mixin favicon()
  link(rel="shortcut icon" href="/favicon.png" type="image/x-icon")

mixin analytics()
  //- add your analygics here
  include ./_analygics_baidu

mixin meta-seo()
  meta(name="keyword" content="Baidu, Tencent, Alibaba will out ~")
  meta(name="description" content="Baidu, Tencent, Alibaba will out ~ We all have a beautiful future")
